/* Global Styles */

body {
 background-color: #212221;
 color: white;
 font-family: 'rockwell';
}

main {
    min-height: 725px;
}

.logo {
    width: 70%;
}

h3 {
    text-decoration: underline;
}

html {
    scroll-behavior: smooth;
}

/* Header */

header {
    justify-content: center;
    width: 100%;
    display: flex;
    background-color: #212221;
}

.header-menu {
    max-width: 160px;
    border: solid;
    border-color: white;
    padding: 11px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-width: medium;
    font-size: large;
    margin: 5px;
}

.header-menu a {
    margin: 5px;
}

.header-menu-item {
    color: white;
    display: block;
    padding: 8px;
    font-weight: bold;
}

.header-menu-item-current {
    border: solid;
    border-color: white;
    padding-left: 25px;
    padding-right: 25px;
    border-width: medium;
}

.logo-header {
    width: 72%;
}

/* Footer */

footer {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-weight: bold;
    padding: 20px;
}

.social-media-icon {
padding: 2px;
}


/* Home */

.google-maps-iframe {
    margin: auto;
}

.introduction-main {
    max-width: 70%;
    display: flex;
    justify-content: space-evenly;
    margin: 30px auto  15px;
    font-weight: bold;
    font-size: large;
}

.CSM-introduction-youtube {
    display: block;
    margin: auto;
    margin-bottom: 6%;
}

.chemistry-home {
    grid-area: chemistry;
}

.outer-space-home {
    grid-area: outer-space;
}

.paleontology-home {
    grid-area: paleontology;
}

.physics-home {
    grid-area: physics;
}

.virtual-reality-home {
    grid-area: virtual-reality;
}
  
.exhibits-home {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: 
      "chemistry chemistry outer-space outer-space paleontology paleontology"
      ". physics physics virtual-reality virtual-reality .";
    text-align: center;
    margin: 0 3%;
}

.exhibits-home a {
    color: white;
    text-decoration: none;
}

.exhibit-div-home {
    margin-bottom: 5%;
}

.exhibits-image {
    max-width: 350px;
}

.exhibit-home-span {
    font-size: large;
    font-weight: bold;
}

.exhibit-div-home {
    min-height: 400px;
    display: flex;
    flex-direction: column;
}

.exhibit-img-div {
    margin-top: 20px;
    margin-bottom: 20px;
}

.exhibits-image {
    height: 242,3px;
}

.cta {
    margin: auto;
    max-width: 194px;
    align-self: bottom;
}

.main-visit-section {
    text-align: center;
    max-width: 900px;
    margin: auto;
}

.trigger-main {
    font-size: xx-large;
    font-weight: bolder;
}

.main-visit-section div {
    margin: 5%;
}

.food-span, .admission-paragraph {
    font-weight: bold;
}

#visit-us-icon {
    display: block;
    margin: auto;
}

.to-top-div {
    margin: 0;
    display: block;
    text-align: right;
}

.location-span {
    font-weight: bold;
}